<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dyju.thesisapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".AboutApplicationActivity"
            android:label="Kilka słów o aplikacji"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Zarejestruj nowego użytkownika"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Zaloguj użytkownika"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProUsersClasses.ProMenuActivity"
            android:label="Wersja PRO"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EducationMenuActivity"
            android:label="Wersja edukacyjna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InverseExerciseActivity"
            android:label="@string/title_inverse_ex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SimpleExerciseActivity"
            android:label="@string/title_simple_ex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
        android:name=".SimpleExerciseLearning.ForWhoSimpleExercise"
        android:label="@string/title_simple_ex"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SimpleExerciseLearning.AboutSimpleExerciseActivity"
            android:label="@string/title_simple_ex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamplesActivities.ExamplesActivity"
            android:label="Przykłady"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.AboutInverseActivity"
            android:label="@string/title_inverse_ex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.ForWhoInverseExerciseActivity"
            android:label="@string/title_inverse_ex"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.AboutManipulatorBars.AboutManipulatorActivity"
            android:label="@string/title_activity_about_manipulator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.InverseExampleBarsActivities.ExampleInverseActivity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesDhActivity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesEx1Activity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesEx3Activity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesTransitionMatrixActivity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ResultInverseExampleActivity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.ShowManipulatorsActivity"
            android:label="Twoje manipulatory"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.AddNewManipulatorActivity"
            android:label="@string/add_new_manipulator_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.ResultActivity"
            android:label="@string/result_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.ManipulatorDetailsActivity"
            android:label="@string/manipulator_details_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesEx2Activity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ValuesToCalculationActivity"
            android:label="@string/title_activity_example_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesEx4Activity"
            android:label="@string/title_activity_example_simple"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesEx5Activity"
            android:label="@string/title_activity_example_simple"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesEx6Activity"
            android:label="@string/title_activity_example_simple"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LearningActivities.SimpleExampleBarsActivity.ExampleSimpleActivity"
            android:label="@string/title_activity_example_simple"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LearningActivities.HowCalcInverseExBars.HowCalculateInverseExActivity"
            android:label="@string/title_activity_how_calculate_inverse"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>