<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dyju.thesisapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:label="Register new user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProUsersClasses.ProMenuActivity"
            android:label="Welcome in PRO version"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EducationMenuActivity"
            android:label="Welcome in Education version"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningLvl1Activity"
            android:label="Learning level 1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningLvl2Activity"
            android:label="Learning level 2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ExamplesActivities.ExamplesActivity"
            android:label="Examples"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.AboutInverseActivity"
            android:label="Examples"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.ForWhoLvl1Activity"
            android:label="Examples"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.AboutManipulatorBars.AboutManipulatorActivity"
            android:label="@string/title_activity_about_manipulator"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LearningActivities.ExampleLvl1BarsActivities.ExampleLvl1Activity"
            android:label="@string/title_activity_example_lvl1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesDhActivity"
            android:label="@string/title_activity_example_lvl1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesEx1Activity"
            android:label="@string/title_activity_example_lvl1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ExamplesTransitionMatrixActivity"
            android:label="@string/title_activity_example_lvl1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ExamplesActivities.ResultExample1Activity"
            android:label="@string/title_activity_example_lvl1"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.ShowManipulatorsActivity"
            android:label="@string/title_show_manipulators_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.AddNewManipulatorActivity"
            android:label="@string/add_new_manipulator_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.ResultActivity"
            android:label="@string/result_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ProUsersClasses.ManipulatorDetailsActivity"
            android:label="@string/manipulator_details_activity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>